aiohttp
alabaster
async-timeout
atomicwrites
attrs
Babel
backcall
beautifulsoup4
certifi
chardet
codewars
coverage
decorator
docutils
idna
idna-s
imagesize
importlib-metadata
ipython
ipython-genutils
jedi
Jinja2
lxml
MarkupSafe
more-itertools
multidict
packaging
parso
pexpect
pickleshare
pluggy
prompt-toolkit
ptyprocess
py
PyBluez
Pygments
pyparsing
pytest
pytest-cov
pytz
requests
scapy
six==1.13.0
snowballstemmer
soupsieve
Sphinx
sphinx-rtd
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
traitlets
typing-extensions
urllib3
wcwidth
yarl
zipp